@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webtext-text-size-adjust:100%;

  min-height: 100vh;
  background-color: white;
}

*, *::before, *::after{
  box-sizing: inherit;
}
.name {
 align-content: center;
 vertical-align: middle;
}

header {
  background-color: #303030;
}

h2{
  color: white;
  text-decoration: none;
}

ul a:hover{
  background-color: lightgrey;
  color: #b22028;
  text-decoration: none;
}
img {
  display: inline-block;

}

.work {
background-color: #909090;

}
.footer{
  text-align: center;
  background-color: #303030;
  color: white;
}
