@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webtext-text-size-adjust:100%;

  min-height: 100vh;
  background-color: white;
}

*, *::before, *::after{
  box-sizing: inherit;
}
.name {
  color: #303030;
  background-color: lightgrey;
  font-family:'Open+Sans';
  text-align: center;
}

header {
  background-color: lightgrey;
}

h1{
  color: #303030;
}

.unit{
  text-align: center;
}

h2{
  color: white;
}
.stationary-h2 {
  color: #000;
}

.brand-h1 {
  color: #cc0033;
  margin: 0;

}
ul a:hover{
  background-color: none;
  color: #b22028;
}


img {
  display: inline-block;

}

.footer{
  : ;
}
